/* Estilos padroões */
* {
    margin: 0;
    padding: 0;
}

body{
    background: #e7e8eae2
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #06122a;
    z-index: 1000;
    overflow-y: auto;
    top: 0;
    left: 0;
}

.navBar>h1{
    color: aliceblue;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.navButtons{
    width: 300px;
    display: flex;
    gap: 40px;
}

.navButton,.navButtonReload{
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in;
    color: aliceblue;
    font-weight: 600;
}

.navButton{
    width: 60px;
    height: 35px;
    font-size: 17px;
    background: #fcbf08f9;
}

.navButtonReload{
    width: 85px;
    height: 35px;
    font-size: 15px;
    background: #08a7fcc3;
}

.navButton:hover{
    transform: translateY(-0.8px);
}

.navButtonReload:hover{
    transform: translateY(-0.8px);
}

.sideBar{
    display: grid;
    width: 8vh;
    height: 100vh;
    background-color: #0e234e;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    /* border: 2px solid red; */
}

.sideBar.wide{
    width: 20vh;
}

.sideBar .nav-links{
    height: 100%;
    padding: 40px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 35px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toltip{
    display: flex;
    justify-content: baseline;
}

.toltip p{
    margin-top: 25px;
}

.link-text{
    opacity: 0;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    transition: opacity 0.2s ease-in-out;
}

.link-text.visible{
    opacity: 1;

}

.session-charts{
    /* border: 2px solid red; */
    width: 100%;
}

.session-charts.transitionSideBar{
    /* border: 2px solid red; */
    width: 100%;
    margin-left: 8%;
}

.container-cards{
    margin-top: 80px;
    display: flex;
    /* border: 1px solid #000; */
    justify-content: center;
    gap: 20px;
    background: white;
    border: none;
    border-radius: 12px;
    width: 75%;
    margin-left: 30vh;
}


.div-table,.div-chart,.div-card{
    margin: 10px;
    background: #fff;
    border: 1px solid #2552abc3;
    border-radius: 10px;
    padding: 20px;
}

.div-card{
    color: aliceblue;
    border: none;
    width: 250px;
    height: 120px;
}

.div-card>h2{
    font-size: 23px;
}

.div-card>h3{
    font-size: 23px;
}

#positive-card{
    background-image: linear-gradient(to bottom, #51f374, #30d454);
}

#moreLass-card{
    background-image: linear-gradient(to bottom, #d8e340, #e4f311);
}

#negative-card{
    background-image: linear-gradient(to bottom, #e34040, #f31111);
}

#total-card{
    background-image: linear-gradient(to bottom, #5c5c5c, #343434);
}

.container-charts{
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 15vh;
    justify-content: center;
}

.div-chart{
    /* border: 1px solid red; */
    width: 500px;
}


.container-table{
    width: 100%;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

.div-table{
    position: relative;
    left: 180px;
    max-width: 160vh;
}

.table{
    max-width: 150vh;
}


th, td{
    border: 1px solid #06122a;
}


#simple-topic{
    max-width: 120px;
}

td.topics{
    background-color: #f2f5f8;
}

th.topics {
    border: 1px solid #06122a;
    background-color: #b3b1b1;
}

.pagination {
    /* border: 1px solid green; */
    justify-content: flex-start;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    text-decoration: none;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

.filters{
    display: flex;
    gap: 25px;
}


.selected-feedback{
    /* border: 1px solid yellow; */
    display: flex;
    font-family: Arial;
    padding: 5px;
    margin: 5px;
    margin-left: -30px;
}
.selected-feedback-labels{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 5px;

}


.selected-feedback-labels>select{
    position: relative;
    top: -1px;
    appearance: none;
    font-size: 16px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.selectedButton{
    width: 60px;
    height: 30px;
    font-size: 15px;
    background: #049730c8;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in;
    color: aliceblue;
    font-weight: 400;
    margin-top: 45px;
}
